.entry-content {
	.wp-block-pullquote {
		@include blockMobileDisplay();
		border-color: $black;
		border-width: 5px;
		padding-bottom: 2.5em;
		padding-top: 2.5em;

		&.alignwide {
			@include blockWideDisplay();
		}

		&.alignfull {
			padding-left: 20px;
			padding-right: 20px;

			p,
			cite {
				display: block;
				margin-left: auto;
				margin-right: auto;
				max-width: $content__width--wide;
			}
		}

		blockquote {
			border: none !important;
			margin: 0;
			max-width: none;
			padding: 0 !important;
			text-align: center;
			word-break: break-word;

			p {
				margin-bottom: 0;

				@media only screen and (min-width: 600px) {
					padding-left: 20px;
					padding-right: 20px;
				}
			}

			&:not([class*="text-color"]) {
				color: $black;

				cite {
					color: $gray;
				}
			}
		}

		p {
			font-family: $font__heading;
			font-size: $font__size-mdlrg;
			font-style: italic;
			font-weight: $font__weight-heading;
			hyphens: auto;
			line-height: 1.3;
			margin-bottom: 0;
			margin-top: 0;
			word-break: break-word;
		}

		cite {
			display: inline-block;
			font-family: $font__heading;
			font-size: $font__size-sm;
			font-style: italic;
			font-weight: $font__weight-heading;
			margin-bottom: -10px;
			margin-top: 0.75em;
			text-transform: none;
		}

		&.alignleft,
		&.alignright {
			padding-bottom: 25px;
			padding-left: 0;
			padding-right: 0;
			padding-top: 20px;

			@media screen and (min-width: $content__align--mobile-media-query--min) {
				margin-bottom: 1.75em;
				margin-top: 0.65em;
			}

			blockquote {
				margin-left: 0;
				max-width: 100%;
				padding: 0;
				text-align: left;
			}

			p {
				padding-left: 0;
				line-height: 1.25;
				padding-right: 0;
			}

			cite {
				display: block;
				margin-bottom: -7px;
			}
		}

		&.is-style-solid-color {
			padding: 20px 35px;

			&.alignleft,
			&.alignright {
				@media screen and (min-width: $content__align--mobile-media-query--min) {
					margin-bottom: 0.65em;
					margin-top: 0.65em;
				}
			}

			p {
				font-size: $font__size-mdlrg;
				margin-bottom: 0.3em;
				margin-top: 0.3em;
				padding-left: 0;
				padding-right: 0;
			}

			blockquote {
				margin: 0 auto;
				text-align: left;
			}

			cite {
				display: block;
				font-style: italic;
				font-weight: $font__weight-heading;
				margin-bottom: 0.5em;
				opacity: 0.8;
			}

			&:not([class*="background-color"]) {
				background-color: $black;
			}

			blockquote:not([class*="text-color"]),
			blockquote:not([class*="text-color"]) cite,
			blockquote:not([class*="text-color"]) a {
				color: $white;
			}
		}
	}
}
